<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
</head>
<body>
    <h3>Create a new Article</h3>
    <form action="{% url 'async_project:article' %}" method='POST'>
    {% csrf_token %}
    <label for="">Title</label>
        <input type="text" name = 'title' placeholder="'Article title" required>
        <br><br>
        <label for="">Description</label>
        <textarea rows = "5" cols = "50" name = "description">Article description</textarea><br><br>
        <!-- <input type="textarea" name = 'description' placeholder="'Article description" required> -->
        <button type="submit"> Save </button>
    </form>
</body>
</html>