<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h3>Welcome to an Async Website</h3>
    <h3>REGISTRATION FORM</h3>
    <form action="{% url 'async_project:register' %}" method = 'POST'>
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text" name = 'name' placeholder="'Enter your name" required>
        <label for="">Email</label>
        <input type="email" name = 'email' placeholder="'Enter your email" required>
        <button> Register </button>
    </form>
    
</body>
</html>